{% extends 'layout/head.html' %}
{% load static %}
{% block title %}DETAILS{% endblock title %}
{% block favicon %}<link rel="shortcut icon" type="image/png" href="{{ resto.image }}">{% endblock favicon %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
			<li class="breadcrumb-item"><a class = "btn lien" href="{% url 'home' %}"><img src="{% static 'medias/images/photo_alexandre.png' %}" alt="photo alexandre" width=21 height=24/></a></li>
            <li class="breadcrumb-item"><a class="btn lien" href="{% url 'RESTAURANTS:restaurants' %}">RESTAURANTS</a></li>
            <li class="breadcrumb-item active"><a class="btn lien">{{ resto.restaurant_name }}</a></li>
        </ol>
    </nav>
{% endblock breadcrumb %}
{% block body %}
	<h2 class="text-center">{{ resto.restaurant_name | upper }}</h2>
	<div class="clearfix" style="margin-top:2%">
		<img class="resto-img col-md-6 float-md-start mb-4 ms-md-4" style="margin-right:4%" src="{{ resto.image }}" width=50% height=50%>
		<h4>{{ resto.adress }} {{ resto.city.cp_name }} {{ resto.city }}, {{ resto.country }}</h4>
		<h4><i class="bi bi-telephone-fill"></i>&nbsp;<a href="tel:{{ resto.phone }}">{{ resto.phone }}</a></h4>
		<h4><i class="bi bi-envelope-fill"></i>&nbsp;<a href="mailto:{{ resto.email }}">{{ resto.email }}</a></h4>
		<h4><i class="bi bi-globe"></i></i>&nbsp;<a href="{{ resto.webSite }}" target="_blank">{{ resto.webSite }}</a></h4>
	</div>
{% endblock body %}