{% extends 'layout/head.html' %}
{% load static %}
{% block title %}RESTAURANTS{% endblock title %}
{% block favicon %}<link rel="shortcut icon" type="image/png" href="{% static 'medias/images/logo-restaurant-fond-1.png' %}">{% endblock favicon %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="btn lien" href="{% url 'home' %}"><img src="{% static 'medias/images/photo_alexandre.png' %}" alt="photo alexandre" width=21 height=24/></a></li>
            <li class="breadcrumb-item active"><a class="btn lien">Restaurants</a></li>
        </ol>
    </nav>
{% endblock breadcrumb %}
{% block body %}
    {% include 'layout/pagination.html' %}
    <div class="row row-cols-1 row-cols-md-3" style="margin: 15px 10px 15px 15px;">
        {% for resto in page_obj %}
            <a style="margin-bottom: 10px;" href="details/{{resto.restaurant_name}}?page={% if page_number == None %}1{% else %}{{ page_number }}{% endif %}">
                <button class="card w-100 h-100 button-software" style="background-color: #A9EAFE;border:none">
                    <h2>{{ resto.restaurant_name | upper }}</h2>
                    <img class="resto-image" style="padding:0px;" width="100%" height="100%" src="{{ resto.image }}" alt="{{ resto.restaurant_name }}">
                    <h4 style="margin-top:5%">{{ resto.city }}, {{ resto.country }}</h4>
                </button>
            </a>
        {% endfor %}
    </div>
    {% include 'layout/pagination.html' %}
{% endblock body %}