{% extends 'layout/head.html' %}
{% load static %}
{% block title %}SOFTWARE - {{ software_details.software_name }}{% endblock title %}
{% block favicon %}<link rel="shortcut icon" type="image/png" href="{{ software_details.software_logo }}">{% endblock favicon%}
{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="btn lien" href="{% url 'home' %}"><img src="{% static 'medias/images/photo_alexandre.png' %}" width=21 height=24 /></a></li>
			<li class="breadcrumb-item active"><a class="btn lien"  href="{% url 'SOFTWARE_LIBRARY:software-library' %}?page={{ page_number }}">SOFTWARE LIIBRARY</a></li>
			<li class="breadcrumb-item active"><a class="btn lien">{{ software_details.software_name }}</a></li>
        </ol>
    </nav>
{% endblock breadcrumb %}
{% block body %}
	<nav class="navbar navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-light" style="background-color: #74D0F1">
		<div class="container-fluid">
			<span class="navbar-brand">
				<a class="btn lien" href="{% url 'SOFTWARE_LIBRARY:software-library' %}?page={{ page_number }}">
					<i class="fas fa-chevron-left fa-3x lien"></i><img src="{{ software_details.software_logo }}" alt="{{ software_details.software_name }}" width="50px" height="50px"/>
					<span class="btn lien">{{ software_details.software_name }}</span>
				</a>
			</span>
			<span class="col col-4">
				<label class="btn-lg h4">Version: {{ software_details.software_version }}</label>
				<a class="btn btn-lg btn-success" href="{{ software_details.software_source }}" download="{{ software_details.software_source }}" target="_blank">
					<span class="h4">Install</span>
				</a>
			</span>
		</div>
	</nav>
	<div class="col col-12 col-lg-12 col-md-12 col-sm-12" style="text-align: center;padding-top: 30px;padding-bottom: 30px;background-color: #EFEFEF">
		<img src="{{ software_details.software_image }}" alt="{{ software_details.software_name }}" width="50%" height="50%"/>
	</div>
	<div class="h5 row row-cols-12 col col-12 col-lg-12 col-md-12 col-sm-12" style="background-color: #FFFFFF;margin: 0px;padding-top:2%">
		<div class="col-6">
			<span class="h4 fw-bold">Description :</span>
			<div style="padding-left: 30px;padding-top: 10px;padding-bottom: 3%;">
				{% if software_description_char_count <= 200 %}
					<textarea rows="3" cols="60">{{ software_details.software_description }}</textarea>
				{% elif software_description_char_count > 200 and software_description_char_count <= 400 %}
					<textarea rows="6" cols="60">{{ software_details.software_description }}</textarea>
				{% elif software_description_char_count > 400 and software_description_char_count <= 600 %}
					<textarea rows="9" cols="60">{{ software_details.software_description }}</textarea>
				{% endif %}
			</div>
		</div>
		<div class="offset-1 col-4">
			<div class="h4 fw-bold">
				LICENSE : <span class="fw-normal h5">{{ software_details.software_license }}</span>
			</div>
			<div class="h4 fw-bold">
				Developer : <span class="fw-normal h5">{{ software_details.software_developer.developer_name }}</span>
			</div>
			<div style="padding-top: 10px">
				<a href="{{ software_details.software_developer.developer_web_site }}" target="_blank">{{ software_details.software_developer.developer_web_site }}</a>
			</div>
		</div>
	</div>
{% endblock body %}