*{
	font-family: Verdana, sans-serif;
}
html{
    min-height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0%;
    padding: 0%;
}
body{
    min-height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0%;
    padding: 0%;
}
.fond {
    background-color: #A9EAFE;
}
.page{
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 15px;
    padding: 5%;
    background-color: #FFFFFF;
    margin-top: 15px;
}
.lien{
    font-size: 14px;
    font-weight: normal;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
}
.lien:hover{
    background-color: #A9EAFE;
    border-radius: 0;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}
.breadcrumb{
    margin-top: 15px;
    padding: 15px;
    background-color: white;
    vertical-align: middle;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPjxwYXRoIGQ9Ik0yLjUgMEwxIDEuNSAzLjUgNCAxIDYuNSAyLjUgOGw0LTQtNC00eiIgZmlsbD0iY3VycmVudENvbG9yIi8+PC9zdmc+) !important;
    padding-top: 10px;
    padding-bottom: 10px;
}
.resto-image{
    margin: 0%;
}
.button{
    width: 35%;
}
.logo-image{
    margin: 25%;
}
.image_menu {
    display:flex;
    width: 20px;
    height: 20%;
}
.portrait{
    width: 10%;
    height: 10%;
    float: left;
    margin-right: 2%;
    margin-bottom: 10px;
    box-sizing:border-box;
    box-shadow:10px 10px 8px rgba(49, 140, 231, 1.0);
    border-bottom:3px solid blue;
    border-right:3px solid blue;
    border-top:3px solid #1E7FCB;
    border-left:3px solid #1E7FCB;
}
.button-software{
    margin-top: 10px;
    /* height: 100px; */
}
.button-software:hover{
    box-sizing:border-box;
    border-radius:0;
    width:30%;
    font-family:verdana;
    box-align:left;
    text-align:center;
}
textarea{
    border: none;
    resize: none;
}